.popup__close-button {
  position: absolute;
  display: inline-block;
  width: 32px;
  height: 32px;
  top: 155px;
  right: 0;
  background-color: transparent;
  background-image: url('../../../images/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  padding: 0;
  margin-bottom: 8px;
  cursor: pointer;
  transition: opacity .3s ease;
}

.popup__close-button:hover{
  opacity: 0.6;
}

@media screen and (max-width: 549px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: 87px;
    right: 0;
    margin-bottom: 16px;
  }
}