.profile__avatar-button {
  position: absolute;
  width: 120px;
  height: 120px;
  z-index: 0;
  border-radius: 50%;
  border: 0;
  padding: 0;
  background-image: url('../../../images/avatar-edit.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 26px;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
.profile__avatar-button:hover {
  cursor: pointer;
  opacity: 1;
}

@media screen and (max-width: 800px) {
  .profile__avatar-button {
    top: 141px;
  }
}

@media screen and (max-width: 424px) {
  .profile__avatar-button {
    top: 124px;
  }
}
